.app__cartContainer{
    background: white;
    padding-top: 10vh;
    font-family: poppins;
}
.card{
    padding: 10px;
    margin-bottom: 4vh;
    height: 400px;
    box-shadow: 0px 1px 14px 1px lightgray;
}
.item_img{
    height: 270px;
    width: 270px;
    margin: auto;
}
.btn2{
    border: 1px solid var(--buttons);
    background: transparent;
    color: var(--buttons);
    width: 50%;
    margin: auto;
    font-weight: 600;
    padding-top: 7px;
    padding-bottom: 7px;
}
.btn2:hover{
    background: var(--buttons);
    transition: 1s;
    color: white;
}
.increase{
    color: var(--buttons) !important;
    background: transparent !important;
}
.amount{
    margin-top: 20px;
}
.see{
    color: var(--buttons) !important;
    background: transparent !important;
}
.filters{
    background: #2B3445;
    color: white;
    padding: 10px;
    margin-bottom: 3vh;
}
.product{
    margin-bottom: 7vh;
}