.app__cartContainer{
    background: white;
    padding-top: 10vh;
    font-family: Nunito;
    margin-top: 100vh;
}

.item_img{
    height: 270px;
    width: 270px;
    margin: auto;
}
.btn2{
    border: 1px solid var(--buttons);
    background: transparent;
    color: var(--buttons);
    width: 50%;
    margin: auto;
    font-weight: 600;
    padding-top: 7px;
    padding-bottom: 7px;
}
.btn2:hover{
    background: var(--buttons);
    transition: 1s;
    color: white;
}
.increase{
    color: var(--buttons) !important;
    background: transparent !important;
}
.amount{
    margin-top: 20px;
}
.see{
    color: var(--buttons) !important;
    background: transparent !important;
}
.filters{
    background: #181B1F;
    color: white;
    padding: 10px;
    margin-bottom: 3vh;
}
.product{
    margin-bottom: 7vh;
}
.buyBtn{
    border: none;
    background: black;
    color: white;
    padding: 4px;
    margin-left: 8px;
    border-radius: 3px;
}
.price{
    color: var(--yellow);
    font-family: poppins;
    font-size: 20px;
    font-weight: 500;
}
.increaseBtn{
    background: transparent;
    border: 2px solid black;
    font-family: poppins;
    font-weight: bold;
    font-size: 20px;
    margin: 2px;
    color: #000000;
    padding: 5px;
    width: 50px;
}
.addBtn{
    font-family: poppins;
    font-weight: 500;
    border: none;
    background: #FBAB30;
    color: white;
    padding: 11px;
    width: 100%;
}
.addBtn:hover{
    background: black;
    color: white;
    transition: .4s;
}
.item__footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item__name{
    font-family: poppins;
}