.app__hero{
    font-family: poppins;
}
.col-md-5{
    margin-top: 34vh;
}
.col-md-7{
    margin-top: 20vh;
}
.btn1{
    background: var(--buttons);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-weight: 500;
}