.app__hero{
    font-family: poppins;
}
.col-md-5{
    margin-top: 24vh;
}
.col-md-7{
    margin-top: 14vh;
}
.intro{
    font-weight: bold;
    color: #2B3445;
    font-size: 44px;
}
.marketing{
    font-size: 7rem;
}
.get{
    background: transparent;
    border: 3px solid #212529;
    font-size: 30px;
    color: #212529;
    font-weight: 600;
    width: 70%;
    padding: 10px;
    margin-top: 4vh;
}
.get:hover{
    background: #212529;
    color: white;
    transition: 1s;
}
.iconItem{
    background: #2B3445;
    padding: 10px;
    color: white;
    margin: 2px;
}