.app__special{
    background: #F5F5F5;
    padding-top: 14vh;
    padding-bottom: 14vh;
    font-family: Nunito;
}
.count{
    border: 1px solid black;
    padding: 7px;
    width: 70px;
    text-align: center;
     border-top-right-radius: 10px;
     border-bottom-left-radius: 10px;
}
.loading2{
    text-align: center;
    padding-top: 17vh;
}